@import '../../app/styles/globals.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: $space-xs;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(228, 228, 228);
	padding: $space-sm $space-md;
	border-radius: $space-sm;
	font-family: $primaryTextFont;
	align-items: center;
	img {
		max-width: 70px;
		border-radius: 50%;
	}
	.testimonial {
		margin-bottom: $space-sm;
	}
	:last-child {
		font-size: 14px;
	}
	.author {
		display: flex;
		.name {
			font-weight: 600;
		}
		.type {
			font-weight: 400;
		}
	}
	
}

